$utilities: (
  "color": (
    property: color,
    class: text,
    state: hover,
    responsive: true,
    values:
      map-merge(
        $theme-colors,
        (
          "white": $white,
          "body": $body-color,
          "muted": $text-muted,
          "black-50": rgba($black, 0.5),
          "white-50": rgba($white, 0.5),
          "reset": inherit,
        )
      ),
  ),
  "background-color": (
    property: background-color,
    class: bg,
    state: hover,
    responsive: true,
    values:
      map-merge(
        $theme-colors,
        (
          "body": $body-bg,
          "white": $white,
          "transparent": transparent,
        )
      ),
  ),
);
